body {
	background-color: black;
	/*background-image: radial-gradient(
	rgba(0, 150, 0, 0.75), black 120%
	);*/
	height: 100vh;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
}body::after { /*
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
	0deg,
	rgba(black, 0.15),
	rgba(black, 0.15) 1px,
	transparent 1px,
	transparent 2px
	);*/
}
::selection {
	background: #0080FF;
	text-shadow: none;
}

.typewriter p {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typewriter cursor */
	white-space: pre-wrap; /* Preserves line breaks */
	word-wrap: break-word; /* Ensures text wraps */
	display: block; /* Ensures it behaves like a normal <pre> */
	width: 0; /* Start from zero width */
	color:rgb(255, 153, 51);
	animation: typing 0.5s steps(40, end) forwards, blink-caret .75s step-end infinite;
	font-size:1.6em;
}


.typewriter p.linksByLucas {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typewriter cursor */
	white-space: pre-wrap; /* Preserves line breaks */
	word-wrap: break-word; /* Ensures text wraps */
	display: block; /* Ensures it behaves like a normal <pre> */
	width: 0; /* Start from zero width */
	color:#ff33cc;
	animation: typing 0.5s steps(40, end) forwards, blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
img {
float: right;
padding:1%;
}
.btn {
	position: fixed;
       	bottom: 5%;
       	left: 5%;
	color: lime;
	padding: 10px;
	height: 40px;
	width: 150px;
	border-radius: 5%;
	font-size: 15px;
	background-color: rgb(0, 0, 0);
}
/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}
li{
	color:lime;
}

video{
width:60%;
margin:5%;
float: right;
border: 2px solid;
border-color: rgb(255, 153, 51);
box-shadow: 0 0 5px #C8C8C8;
}
