body {
	background-color: black;
	/*background-image: radial-gradient(
	rgba(0, 150, 0, 0.75), black 120%
	);*/
	height: 100vh;
	color: white;
	font: 1.3rem Inconsolata, monospace;
	text-shadow: 0 0 5px #C8C8C8;
}body::after { /*
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: repeating-linear-gradient(
	0deg,
	rgba(black, 0.15),
	rgba(black, 0.15) 1px,
	transparent 1px,
	transparent 2px
	);*/
}
::selection {
	background: #0080FF;
	text-shadow: none;
}

.typewriter p {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typewriter cursor */
	white-space: pre-wrap; /* Preserves line breaks */
	word-wrap: break-word; /* Ensures text wraps */
	display: block; /* Ensures it behaves like a normal <pre> */
	width: 0; /* Start from zero width */
	color:rgb(255, 153, 51);
	animation: typing 0.5s steps(40, end) forwards, blink-caret .75s step-end infinite;
	font-size:1.6em;
}


.typewriter p.linksByLucas {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid orange; /* The typewriter cursor */
	white-space: pre-wrap; /* Preserves line breaks */
	word-wrap: break-word; /* Ensures text wraps */
	display: block; /* Ensures it behaves like a normal <pre> */
	width: 0; /* Start from zero width */
	color:#ff33cc;
	animation: typing 0.5s steps(40, end) forwards, blink-caret .75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
}
img {
float: right;
padding:1%;
}
.btn {
	position: fixed;
       	bottom: 5%;
       	left: 5%;
	color: lime;
	padding: 10px;
	height: 40px;
	width: 150px;
	border-radius: 5%;
	font-size: 15px;
	background-color: rgb(0, 0, 0);
}
/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: orange; }
}
li{
	color:lime;
}

video{
width:60%;
margin:5%;
float: right;
border: 2px solid;
border-color: rgb(255, 153, 51);
box-shadow: 0 0 5px #C8C8C8;
}




/* WIZARD */

:root{
--main-color: rgb(230,230,220);
--main-color-bright:rgb(250,250,240);

}
.wizContainer{
	z-index: 4;
	border: 2px solid black;
	display:block;
	width:12.5%;
	height:49.8%;
	
	top:0;
	position: absolute;
	left:0;

	overflow:hidden;
	background-color: var(--main-color);
	/*TODO: OVERFLOW*/

}

.wiz {
	width: 100%;
	height: 100%;
	position: absolute;
}

.wiz img {
	position: absolute;
	display: block;
}

.faceImg {
  width: 47%;
  margin-top: -2%;
  top:19%;
  left:26%;

  z-index: 0;
}
.hatImg {
  width: 100%;
  margin-top: 0%;
  top:0%;
  margin-left: 0%;
  z-index: 0;
}
#wizZone{
height:100%;
margin:0;
width:100vw;
padding:0;
}

.eyeImg {
	width: 2%;
	margin-top: -6%;
	margin-left: 22%;
	z-index: 4;
}

.bodyImg {
  width: 98.5%;
  margin-top: -1%;
  margin-left: 1.5%;
  top:40%;
  z-index: 0;
}

.eyesImg {
  width: 30%;
  left: 32.7%;
  top: 29.3%;

  z-index: 0;
}
.closeButton{
	position:relative;
	right:-78%;
	display:inline-block;
	
  width: 21%;
  height: 10%;
  margin-top: 0%;
  top:0%;
  margin-left: 0%;
  z-index: 0;
  border:1% solid black;
  border-radius: 0;
  background-color:red;

}

.wizardQuestion{
position:absolute;
display: block;
width:79%;
bottom:20%;
font-family: 'Brush Script MT', cursive;
font-size:1.5em;
line-height:0.9;
left:1%;
font-weight:100;
/*background-color:var(--main-color);*/
color:blue;
	text-shadow: 2px 0 white, -2px 0 white, 0 2px white, 0 -2px white,
	1px 1px white, -1px -1px white, 1px -1px white, -1px 1px white;


}

.wizardSubmit{
position:absolute;
	right:0;
	display:inline-block;
	color:var(--main-color);
	
  width: 50%;
  height: 10%;
  top:80.5%;
  margin-left: 0%;
  z-index: 0;
  border:1% solid black;
  border-radius: 0;
  background-color:blue;

}
.wizardInput{
position:absolute;
	left:0;
	display:inline-block;
	background-color:var(--main-color-bright);
	box-sizing:border-box;
	
  height: 8%;
  top:90.4%;
  left:-1%;
  z-index: 0;
  border:1% solid black;
  border-radius: 0;
  color:blue;

}

/* ~wizard */

